@media (min-width:768px) 
{
    
    .custom_select{
        width: 50% !important;
        font-size: 14px;
        border-radius: 8px !important;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        
    }
    .banner-wrap{
        
        margin-bottom: 90px !important;
    }
    
}




@media (max-width:767px) {
   
    .banner{    
     position: relative;
     width: 100%;
     height: 80%;
 
    }.banner-wrap{
        margin-top: 50px!important;
        margin-bottom: 30px !important;
    }
    .bannerlink{
        position: absolute;
        margin-left: 0px !important;
        top: 30%;
        left: 35%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;    
    color: rgb(70, 67, 67);
    font-weight: 500;
    font-size: 30px;
 
    }       
    
 }
 
 
 
 
 
 button{
    color: rgb(58, 51, 11) !important;
}


.link-items{
    
    color: beige !important;
    border:2px transparent solid;

}

.link-items:focus{
    color: beige !important;
    border:2px white solid
}

.link-title{
    margin-left: 10%;
    color: beige !important;
    font-family:cursive;
    font-weight: bolder;
    font-size: 20px;
    
}

.Header1{
    position: fixed;     
    z-index: 1000;
    top: 0px;
    min-width: 100% !important;  
    background-color: rgba(54, 53, 53, 0.8);
   
    
}


@media (min-width:768px)
{
    

.bannerlink{
    position: absolute;
    z-index: 100;
    left: 450px;
    top: 150px;   
    border-radius: 5%;
    background-color:  rgba(0, 0, 0, .1);;
    /* height: 200px; */
    height: 50%;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:30px;
    color: rgb(250, 246, 246);
    font-weight: 500;
    font-size: 30px;
}
}

.banner :hover{
    background-color:rgba(99, 98, 96, 0.2);
}

.button2{
    color: black !important;
    font-weight: 500px !important;
    font-size: 20px !important;
}

.active{
    border: 2px white solid;
}

.custom_select{
    /* width: 50%; */ 
    font-size: 14px;
    border-radius: 8px !important;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
label{
    margin-top: 3%;
    font-size: 18x;
    font-weight: 500px;
    margin-bottom: 1px;
}


